@model List<Employee>
@{
    Layout = "_MyLayout";
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div id="div1" style="border:10px solid red;"></div>

<br />

<a asp-action="Create" asp-controller="Employee" class="btn btn-outline-primary">Add new Employee</a>
<br />
<hr />
<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Salary</th>
        <th>Address</th>
        <th>Department</th>
        <th></th>
    </tr>

    @foreach(var emp in Model)
    {
        <tr>
            <td>
                <partial name="_CardPartial" model="emp"/>
            </td>
            <td>@emp.Age</td>
            <td>@emp.Salary</td>
            <td>@emp.Address</td>
            <td>@emp.Department?.Name</td>
            <td>
                <a href="/Employee/Edit?id=@emp.Id" class="btn btn-secondary"><i class="fa-solid fa-pen-to-square"></i></a>
                <a href="/Employee/getEmpbyId?id=@emp.Id" class="btn btn-info">Info</a>
                <a href="##" onclick="GetEmpByIdUsingPartial(@emp.Id)" class="btn btn-warning">DetailPartial</a>
            </td>
        </tr>
    }

</table>

@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        
        function GetEmpByIdUsingPartial(id){
           event.preventDefault();
           debugger;
           $.ajax({
               URL:"/Employee/GetEmpByIdUsingPartial/"+id,
               success:function(result){
                   console.log(result);

               }
           });

        }
    </script>

}