@model List<Employee>
@{
    Layout = "_MyLayout";
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<br />

<a asp-action="Create" asp-controller="Employee" class="btn btn-outline-primary">Add new Employee</a>
<br />
<hr />
<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Salary</th>
        <th>Address</th>
        <th>Department</th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var emp in Model)
    {
        <tr>
            <td>@emp.Name</td>
            <td>@emp.Age</td>
            <td>@emp.Salary</td>
            <td>@emp.Address</td>
            <td>@emp.Department?.Name</td>
            <td>
                <a href="/Employee/Edit?id=@emp.Id" class="btn btn-secondary"><i class="fa-solid fa-pen-to-square"></i></a>
                <a href="#" class="btn btn-info" onclick="getEmpById(@emp.Id)">Info</a>

            </td>

        </tr>
    }

</table>
<div id="div1"></div>
@section Scripts {
    <script>

        function getEmpById(Id){
            event.preventDefault();


              $.ajax({
               url:"/Employee/getEmpById/"+Id,
              success:function(result){
                         $("#div1").html(result);

        // Wait until DOM has updated before trying to access the modal
        setTimeout(function () {
            var modalElement = document.getElementById('exampleModal');
            if (modalElement) {
                var myModal = new bootstrap.Modal(modalElement);
                myModal.show();
            } else {
                console.error("Modal not found in DOM");
            }
        }, 100); // S
              }

           });
        }
    </script>
}
