@model List<Employee>
@{
    Layout = "_MyLayout";
    ViewData["Title"] = "Index";
}

<h1>Index</h1>



<div id="div1" style="border:10px solid red;"></div>
<br />
<div id="div2" style="border:10px solid yellow;"></div>

<br />

<a asp-action="Create" asp-controller="Employee" class="btn btn-outline-primary">Add new Employee</a>
<br />
<hr />
<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Salary</th>
        <th>Address</th>
        <th>Department</th>
        <th></th>
    </tr>

    @foreach(var emp in Model)
    {
        <tr>
            <td>
                <partial name="_CardPartial" model="emp"/>
            </td>
            <td>@emp.Age</td>
            <td>@emp.Salary</td>
            <td>@emp.Address</td>
            <td>@emp.Department?.Name</td>
            <td>
                <a href="/Employee/Edit?id=@emp.Id" class="btn btn-secondary"><i class="fa-solid fa-pen-to-square"></i></a>
                <a href="/Employee/getEmpbyId?id=@emp.Id" class="btn btn-info">Info</a>
                <a href="#" onclick="GetEmpByIdUsingPartial(@emp.Id)" class="btn btn-warning">DetailPartial</a>
                <a href="#" onclick="GetEmpByIdUsingModal(@emp.Id)" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">DetailModal</a>
            </td>
        </tr>
    }

</table>

@section Scripts{
    <script>
        
        function GetEmpByIdUsingPartial(Id)
        {
           event.preventDefault();

           $.ajax({
               url:"/Employee/GetEmpByIdUsingPartial/"+Id,
               type:"get",

               success:function (result){
                   $("#div1").html(result);
               } ,
               
           });
        }

        function GetEmpByIdUsingModal(empId){
            event.preventDefault();
            $.ajax({
                url:"Employee/GetEmpByIdUsingModal?id="+empId,
                type:"get",
                success:function(result){
                    $("#div2").html(result);
                }

            });

        }


    </script>

}